@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f5f5f7;
}

@font-face {
    font-family: "Pretendard Variable";
    src: url("/src/assets/fonts/PretendardVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Elice Digital Baeum";
    src: url("/src/assets/fonts/EliceDigitalBaeum.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(115, 115, 115, 1) transparent;
}

/* Webkit (Chrome, Safari) */
*::-webkit-scrollbar {
    width: 9px;
    height: 7px;
}

*::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #dad0ea;
    border-radius: 10px;
}
